<div class="page">
    <!-- FILTRI -->
    <div class="header">
        <mat-card class="responsive-card">
            <mat-card-content class="controls-row">

                <!-- Modalità border: 1px solid red; -->
                <div style="height: 90px">
                    <div>Modalità</div>
                    <div>
                        <mat-button-toggle-group [(ngModel)]="this.reportMode">
                            <mat-button-toggle value="fcst">Forecast</mat-button-toggle>
                            <mat-button-toggle value="bdg">Budget</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>

                <div>
                    <div>Anno</div>
                    <div>
                        <mat-form-field class="field-select" appearance="fill" floatLabel="never">
                            <mat-select
                                    (selectionChange)="onChangePeriodBdg($event)"
                                    [value]="selectePeriod?.bdg?.year"
                                    [disabled]="this.reportMode === 'fcst'"
                            >
                                <mat-option *ngFor="let year of yearRangeBdg" [value]="year">
                                    {{ year }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- CRM - Mese -->
                <div>
                    <div>CRM - Mese</div>
                    <div>
                        <mat-form-field class="field-select" appearance="fill" floatLabel="never">
                            <mat-select
                                    (selectionChange)="onChangePeriodCrm('month', $event)"
                                    [value]="selectePeriod?.crm?.month"
                                    [disabled]="this.reportMode === 'bdg'"
                            >
                                <mat-option *ngFor="let month of monthRange" [value]="month.value">
                                    {{ month.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- CRM - Anno -->
                <div>
                    <div>CRM - Anno</div>
                    <div class="field__control">
                        <mat-form-field class="field-select" appearance="fill" floatLabel="never">
                            <mat-select
                                    (selectionChange)="onChangePeriodCrm('year', $event)"
                                    [value]="selectePeriod?.crm?.year"
                                    [disabled]="this.reportMode === 'bdg'"
                            >
                                <mat-option *ngFor="let year of yearRange" [value]="year">
                                    {{ year }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- EWM - Mese -->
                <div>
                    <div>EWM - Mese</div>
                    <div>
                        <mat-form-field class="field-select" appearance="fill" floatLabel="never">
                            <mat-select
                                    (selectionChange)="onChangePeriodEwm('month', $event)"
                                    [value]="selectePeriod?.ewm?.month"
                                    [disabled]="this.reportMode === 'bdg'"
                            >
                                <mat-option *ngFor="let month of monthRange" [value]="month.value">
                                    {{ month.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- EWM - Anno -->
                <div>
                    <div>EWM - Anno</div>
                    <div>
                        <mat-form-field class="field-select" appearance="fill" floatLabel="never">
                            <mat-select
                                    (selectionChange)="onChangePeriodEwm('year', $event)"
                                    [value]="selectePeriod?.ewm?.year"
                                    [disabled]="this.reportMode === 'bdg'"
                            >
                                <mat-option *ngFor="let year of yearRange" [value]="year">
                                    {{ year }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Azioni -->
                <div class="actions-row">
                    <button
                            type="button"
                            class="btn btn-blue btn--md"
                            (click)="getDataForecast()"
                            [disabled]="isSelectedPeriodEmpty()"
                    >
                        <i class="fas fa-search"></i> Ricerca
                    </button>

                    <button
                            type="button"
                            class="btn btn-green btn--md"
                            (click)="exportAllDataAsXLSX()"
                    >
                        <i class="fas fa-file-excel"></i> Esporta dati
                    </button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <!-- TABELLA -->
    <div id="report-container"></div>
</div>
